In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
ds = pd.read_csv(r"E:\jupyter\loan.csv")

In [12]:

ds.head(1)

,Loan_ID,Gender,Married,Dependents,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP200001,NaN,Yes,0,Not Graduate,5157,NaN,329,300.0,0.0,Urban,Y

In [20]:
(ds.isnull().sum()/ds.shape[0])*100

Loan_ID              0.0
Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [ ]:
ds.drop(columns=["Self_Employed"], inplace = True)

In [19]:
ds.dropna(inplace = True)

In [ ]:
sns.heatmap(ds.isnull())