In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
ds = pd.read_csv("loan.csv")

In [4]:
ds.isnull().sum()

Loan_ID               0
Gender               83
Married              89
Dependents           47
Education             0
Self_Employed        95
ApplicantIncome       0
CoapplicantIncome    79
LoanAmount            0
Loan_Amount_Term     38
Credit_History       87
Property_Area        76
Loan_Status           0
dtype: int64

In [5]:
ds.info()

<class 'pandas.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            250 non-null    str
 1   Gender             167 non-null    str
 2   Married            161 non-null    str
 3   Dependents         203 non-null    str
 4   Education          250 non-null    str
 5   Self_Employed      155 non-null    str
 6   ApplicantIncome    250 non-null    int64
 7   CoapplicantIncome  171 non-null    float64
 8   LoanAmount         250 non-null    int64
 9   Loan_Amount_Term   212 non-null    float64
 10  Credit_History     163 non-null    float64
 11  Property_Area      174 non-null    str
 12  Loan_Status        250 non-null    str
dtypes: float64(3), int64(2), str(8)
memory usage: 25.5 KB

In [13]:
column = ds.select_dtypes(include = ["float64","int64"]).columns

In [14]:
from sklearn.impute import SimpleImputer

In [16]:
si  = SimpleImputer(strategy = "mean")

In [21]:
arr = si.fit_transform(ds[column])

In [24]:
new_ds = pd.DataFrame(arr, columns = column)

In [26]:
new_ds.isnull().sum()

ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
dtype: int64