In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
ds = pd.read_csv(r"E:\jupyter\loan.csv")

In [3]:
ds.isnull().sum()

Loan_ID               0
Gender               83
Married              89
Dependents           47
Education             0
Self_Employed        95
ApplicantIncome       0
CoapplicantIncome    79
LoanAmount            0
Loan_Amount_Term     38
Credit_History       87
Property_Area        76
Loan_Status           0
dtype: int64

In [14]:
ds["Gender"] = ds["Gender"].fillna(ds["Gender"].mode()[0])

In [18]:
ds.info()

<class 'pandas.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            250 non-null    str
 1   Gender             250 non-null    str
 2   Married            161 non-null    str
 3   Dependents         203 non-null    str
 4   Education          250 non-null    str
 5   Self_Employed      155 non-null    str
 6   ApplicantIncome    250 non-null    int64
 7   CoapplicantIncome  171 non-null    float64
 8   LoanAmount         250 non-null    int64
 9   Loan_Amount_Term   212 non-null    float64
 10  Credit_History     163 non-null    float64
 11  Property_Area      174 non-null    str
 12  Loan_Status        250 non-null    str
dtypes: float64(3), int64(2), str(8)
memory usage: 25.5 KB

In [27]:
for i in ds.select_dtypes(include=['str']).columns:
    ds[i] = ds[i].fillna(ds[i].mode()[0])

In [29]:
ds.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome    79
LoanAmount            0
Loan_Amount_Term     38
Credit_History       87
Property_Area         0
Loan_Status           0
dtype: int64